@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* -----SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */
/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}
/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
}
/* ----- BARRA ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav_link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 200;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}

/* ----- DISENO ----- */
.wrapper{
    padding-inline: 10vw;
}

/* ----- BOTOON DESTACADO ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}
/* ----- CUADRO DE TEXTO DESTACADO ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}

.social_icons {
    display: flex;
    gap: 15px; /* Espacio entre íconos */
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.icon {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: 20px;
    transition: transform 0.3s; /* Agrega una transición para efectos de hover */
}

.icon img {
    width: 100%;
    height: auto;
}

.icon:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

/* ----- FOOTER BOX ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #366fa8;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #366fa8;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #366fa8;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* ----- imagen diseno ----- */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    padding: 20px;
    box-sizing: border-box;
}

.featured-box {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    width: 100%;
    max-width: 1600px; /* Ancho máximo de la caja */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px;
    box-sizing: border-box;
}

.featured-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px; /* Tamaño base para pantallas grandes */
    height: 380px; /* Tamaño base para pantallas grandes */
    overflow: hidden; /* Oculta cualquier contenido fuera del contenedor */
    border-radius: 50%; /* Mantiene la forma redonda */
    position: relative;
    margin: 0 auto;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img {
    width: 100%; /* La imagen ocupará todo el contenedor redondeado */
    height: 100%; /* La imagen ocupará todo el contenedor redondeado */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
}
.image {
    display: none; /* Oculta todas las imágenes por defecto */
}

.image.active {
    display: block; /* Muestra solo la imagen activa */
}

.featured-image img {
    width: 100%; /* La imagen ocupa todo el contenedor */
    height: 100%; /* La imagen ocupa todo el contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
}

@keyframes imgFloat {
    0%, 70% {
        transform: translateY(0);
        border-radius: 50%; /* Mantiene la forma redonda */
    }
    50% {
        transform: translateY(10px);
        border-radius: 50%; /* Mantiene la forma redonda */
    }
}
/* ------- RESPONSIVO -------- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
        display: flex;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
        display: flex;
    }
    .nav_menu_list{
        display: flex;
        flex-direction: column;
    }

    .nav-menu.responsive .nav_menu_list {
        display: flex;
        flex-direction: column; /* Dirección en columna para pantallas pequeñas */
        width: 100%;
        height: 100%;
        align-items: center; /* Centra los elementos en el medio */
        justify-content: center; /* Centra los elementos en el medio */
    }
    
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }
}

/* ----- PRODUCTS SECTION ----- */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 2em;
    max-width: 1200px; /* Ajusta el valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.product-item {
    flex: 1 1 calc(25% - 20px); /* Ajusta el porcentaje según el número de productos que quieras mostrar en una fila */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: var(--color-white);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; /* Añade flex para centrar el contenido */
    flex-direction: column; /* Establece la dirección de los hijos en columna */
}

.product-item img {
    width: 100%; /* Ocupa el 100% del ancho del contenedor del producto */
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}

/* Estilo del contenedor del modal */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Fija el modal en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
    justify-content: center; /* Centra el contenido en el medio */
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    overflow: hidden; /* Asegura que el contenido no desborde */
}

/* Estilo de la imagen dentro del modal */
.modal img {
    width: 90%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 25%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 90vh; /* Ajusta el tamaño máximo de la imagen en relación con la altura de la ventana */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    margin: auto; /* Centra la imagen */
    transition: transform 0.3s ease; /* Suaviza el efecto de zoom */
}

/* Efecto de escala al hacer clic en la imagen del modal */
.modal img.zoomed {
    transform: scale(1.2); /* Escala la imagen al hacer clic */
}

/* Estilo del botón de cerrar */
.modal .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Estilo de los botones de navegación */
.modal .prev-btn, .modal .next-btn {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001; /* Asegúrate de que esté encima de la imagen */
    transform: translateY(-50%); /* Centra verticalmente */
}

/* Posicionamiento de los botones de navegación */
.modal .prev-btn {
    left: 20px;
}

.modal .next-btn {
    right: 20px;
}


.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 20px;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

.product-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.product-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para mayor profundidad */
    border-color: var(--second-color); /* Cambia el color del borde */
    background: #f7f9fc; /* Cambia el color de fondo para un efecto más visible */
}

/* ----- TOP HEADER FOR PRODUCTS ----- */
.top-header {
    text-align: center;
    padding: 50px 20px;
}

.top-header h1 {
    font-size: 36px; /* Tamaño de fuente para el título */
    color: var(--main-color); /* Asegúrate de que esté en el color principal */
    margin: 0; /* Elimina el margen por defecto */
    padding-bottom: 10px; /* Espacio inferior para separar del subtítulo */
}

.top-header span {
    font-size: 18px; /* Tamaño de fuente para el subtítulo */
    color: var(--secondary-color); /* Color secundario para el subtítulo */
    display: block; /* Asegúrate de que se muestre en una nueva línea */
    margin-top: 10px; /* Margen superior para separar del título */
}

/* --- PRODUCTS SECTION RESPONSIVE --- */
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 90%; /* Ocupa casi todo el ancho de la pantalla */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .product-item {
        flex: 1 1 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .product-item img {
        width: 100%; /* Imagen ajustada al ancho del contenedor */
        height: auto;
    }
}
/* ----- MAIN BOX ----- */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    max-width: 1200px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Encabezado de la sección */
.top-header {
    text-align: center; /* Centrar el texto */
    padding-bottom: 30px; /* Espacio debajo del encabezado */
    width: 100%; /* Asegurar que ocupe todo el ancho */
}

/* Estilo de la fila que contiene el formulario y la información de contacto */
.row {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en móviles */
    gap: 20px; /* Espacio entre columnas */
    justify-content: center; /* Centrar los elementos dentro de la fila */
    width: 100%;
}

/* Columnas dentro de la fila */
.col {
    flex: 1 1 45%; /* Ajustar el tamaño de las columnas */
    max-width: 500px; /* Ancho máximo para cada columna */
    min-width: 280px; /* Ancho mínimo para asegurarse de que no se vuelvan demasiado pequeñas */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}

/* ----- PROJECTS BOX ----- */
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-box>i{
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    color: #777;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2;
}
/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i{
    font-size: 18px;
}
.contact-info::after{
    background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: #777;
    z-index: 2;
}

.error-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/* ----- CONTACT FORM ----- */
.form-control {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos del formulario */
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
.form-button>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-button>.btn:hover {
    background: #00B5E7;
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el contenedor principal ocupe todo el ancho */
    height: auto; /* Ajusta la altura según el contenido */
    margin-bottom: 50px; /* Añade un margen inferior para separar del pie de página */
}
.map-container {
    width: 80%; /* Ajustable: ocupa el 80% del ancho disponible */
    max-width: 800px; /* Ancho máximo para pantallas más grandes */
    height: 450px; /* Altura fija para el mapa */
    border: 5px solid #ccc; /* Borde alrededor del mapa */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    overflow: hidden; /* Evita que el contenido sobresalga */
    box-sizing: border-box; /* Incluye el borde en las dimensiones del contenedor */
}
/* Media queries para responsividad */
@media (max-width: 768px) {
    .section {
        padding: 30px 10px; /* Reducir el padding en dispositivos móviles */
    }

    .col {
        flex: 1 1 100%; /* Hacer que las columnas ocupen todo el ancho */
        max-width: 100%; /* Asegurar que no haya un ancho máximo en móviles */
    }

    .top-header h1 {
        font-size: 28px; /* Reducir tamaño del título en móviles */
    }

    .top-header span {
        font-size: 16px; /* Reducir tamaño del subtítulo en móviles */
    }
}
/* Estilo para la página "Sobre Nosotros" */
.about-us {
    position: relative;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.about-us::after {
    content: "";
    display: block;
    height: 60px; /* Altura del espacio invisible */
    width: 100%;
    background-color: transparent; /* O usa un color similar al fondo si deseas una separación visible */
    position: absolute;
    bottom: 0;
    left: 0;
}


.about-us h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about-content h2 {
    font-size: 1.8rem;
    color: #666;
    margin-top: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    width: 100%;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    margin: 15px 0;
    width: 100%;
}

.about-content img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo para la imagen */
    height: auto;
    border-radius: 8px;
    margin: 20px 0 20px 20px; /* Añade un margen para separarla del texto */
    flex-shrink: 0; /* Evita que la imagen se encoja en pantallas pequeñas */
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-content img {
        margin: 20px 0; /* Centra la imagen en pantallas pequeñas */
        max-width: 80%; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }

    .about-content h2, .about-content p {
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .about-us h1 {
        font-size: 2rem; /* Reduce el tamaño del título en pantallas muy pequeñas */
    }

    .about-content h2 {
        font-size: 1.5rem; /* Reduce el tamaño de los subtítulos en pantallas muy pequeñas */
    }
}
